@import 'css-reset.css';

:root {
    --white-50: #FFFFFF;
    --white-100: #f6f6f6;
    --gold: #FDC816;
}

.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}