@import 'css-reset.css';

@font-face {
    font-family: Lalezar;
    src: url("../font/Lalezar-Regular.ttf");
}

:root {
    --white-50: #FFFFFF;
    --white-100: #f6f6f6;
    --gray: #818181;
    --gold: #FDC816;
}
*, body {
    font-family: Lalezar;
}
.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}