@import 'css-reset.css';
@import url('custom-font.css');

:root {
    --white-50: #FFFFFF;
    --white-100: #f6f6f6;
    --white-200: #E7E7E7;

    --gold-400: #FDC816;
    --gold-50: #FFFCEF;
    
    --gray-650: #818181;
    --gray-600: #707070;
    --gray-700: #626161;
}
*, body {
    font-family: Vazir;
}
.vazir-fb {
    font-family: Vazir;
    font-weight: bolder;
}
.vazir-fl {
    font-family: Vazir;
    font-weight: lighter;
}
.lalezar-font {
    font-family: Lalezar;
}
.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}