@import 'custom.css';

body {
    background-color: var(--white-100);
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    /* min-height: 100vh; */
    /* height: 100vh; */
    column-gap: 20px;
}
/* -------------------------------- left side ------------------------------- */
.left-side {
    padding: 20px 0 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.profile-box {
    direction: rtl;
    background-color: var(--white-50);
    padding: 15px 20px;
    border-radius: 25px;
    column-gap: 20px;
}
.profile-wrapper {
    position: relative;
    width: 65px;
    height: 65px;
    padding: 6px;
    background-color: var(--gold-400);
    border-radius: 50%;
}
.user-profile {
    position: relative;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile-box-desc {
    row-gap: 5px;
}
.user-name, .user-number {
    color: var(--gray-650);
}
.sim-card-charge-box {
    background-color: var(--gold-50);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    height: 100%;
}
.sim-card-charge-title {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.radialProgressBar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--gold-50);
    margin: 25px 0;
}
.radialProgressBar .overlay {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    margin: auto;
    background-color: var(--gold-50);
    display: flex;
    color: #00A3FF;
    align-items: center;
    justify-content: center;
}
.progress-10 {
    background-image: -webkit-linear-gradient(90deg, #E4EBEC 50%, transparent 50%), -webkit-linear-gradient(right, var(--gold-400) 50%, #E4EBEC 50%);
}
.charge-btn {
    background-color: var(--gold-400);
    width: 150px;
    border-radius: 5px;
    color: var(--white-50);
    font-size: 1rem;
    box-shadow: 0 0 8px var(--gold-400);
}
.service-title {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.active-service-box {
    column-gap: 12px;
    color: var(--gray-600);
}
.active-service-box {
    margin-bottom: 30px;
}
.active-service-icon {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    background-color: rgba(253, 199, 23, 0.2);
    border-radius: 12px;
    color: var(--gold-400);
}
.active-service-box-desc {
    line-height: 25px;
}
.download-app-box {
    position: relative;
    width: 100%;
    top: 100%;
    transform: translateY(-610%);
    background-color: var(--white-50);
    border-radius: 15px;
    flex-direction: row-reverse;
    padding: 20px;
}
.download-app-box img {
    width: 50px;
    image-rendering: pixelated;
}
.download-app-box h1 {
    font-size: 1.2rem;
}
/* ---------------------------------- main ---------------------------------- */
.main {
    padding: 20px 0;
    width: 100%;
}
.main-title {
    font-size: 1.6rem;
}
.main-overlay {
    position: relative;
    isolation: isolate;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: url(../img/overlay.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: flex-end;
    justify-content: end;
}
.main-overlay::before {
    content: '';
    position: absolute;
    background: linear-gradient(270deg, rgba(253, 200, 22, 0.4), rgba(255, 223, 114, 0.4));
    z-index: -1;
    width: 100%;
    height: 100%;
}
.main-overlay h1 {
    font-size: 1.5rem;
    margin-left: 30px;
}
.main-overlay button {
    margin: 20px 0 20px 30px;
    background-color: var(--gold-400);
    color: var(--white-50);
    border-radius: 3px;
    font-size: 1rem;
}
.chart {
    position: relative;
    background-color: var(--white-50);
    border-radius: 20px;
    margin-top: 25px;
    padding: 30px;
}
.chart h1 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
}
.recommend-packets {
    background-color: var(--white-50);
    border-radius: 20px;
    margin-top: 25px;
    padding: 30px;
}
.recommend-packets-title {
    font-size: 1.3rem;
}
.recommend-packets-table {
    margin-top: 20px;
    width: 100%;
    color: var(--gray-650);
    outline: 3px solid var(--white-200);
    border-radius: 10px;
}
.recommend-packets-table tr {
    text-align: center;
}
.recommend-packets-table tr:not(:first-child) {
    border-top: 3px solid var(--white-200);
}
.recommend-packets-table th {
    padding: 20px;
}
.recommend-packets-table td {
    padding: 20px;
}
.buy-packet-btn {
    background-color: var(--gold-400);
    font-size: 1rem;
    padding: 5px 30px;
    border-radius: 10px;
    color: var(--white-50);
    box-shadow: 0 0 10px var(--gold-400);
}
/* --------------------------------- sidebar -------------------------------- */
.sidebar {
    width: 500px;
    background-color: var(--white-50);
    padding: 20px 0;
}
.sidebar-brand {
    margin-bottom: 30px;
}
.sidebar-brand span {
    background-color: var(--gold-400);
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.2rem;
}
.search-group {
    width: 80%;
    border: 2px solid var(--white-200);
    border-radius: 12px;
    overflow: hidden;
}
.search-input {
    border: none;
    outline: none;
    padding: 10px 15px;
}
.search-input-icon {
    margin-left: 10px;
    transform: rotate(90deg);
    color: var(--white-200);
}
.search-input::placeholder {
    color: var(--white-200);
}
.sidebar-menu {
    width: 100%;
    margin-top: 40px;
    padding: 0 70px 0 0;
}
.sidebar-menu-item {
    position: relative;
    column-gap: 10px;
    font-size: 1rem;
    color: var(--gray-650);
    font-size: 1.2rem;
}
.sidebar-menu-item:not(:first-child, :last-child)  {
    margin-bottom: 18px;
}
.sidebar-menu-item.active {
    color: #626161;
}
.sidebar-menu-item.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: -80%;
    width: 3px;
    height: 50px;
    background: var(--gold-400);
}
.sidebar-menu-item.active span {
    color: var(--gold-400);
}
.sidebar-menu-item-breaker {
    margin: 27px 0 14px 0;
    font-size: 0.8rem;
    color: var(--white-200);
}
.sidebar-menu-item.space-top {
    margin-top: 50px;
}